/* Fondo gris oscuro */
body{
    background-color: rgba(0, 0, 0, 0.35);
}
main {
    height: 100vh; /* Ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center;
    }

/* Contenedor centrado con fondo blanco */
.settings {
    background-color: white;
    padding: 50px 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
}

/* Labels encima del input */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    font-weight: bold;
}

/*TODO: fusionar con crear que tiene el mismo input*/
input {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Botón verde centrado fuera del form */
.change-password-btn {
    background-color: #79b851;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

/* TODO: Este elemento aparece igual en list.css */
.back-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

.password-input-wrapper {
    position: relative; /* Contenedor para posicionar el icono */
    margin-bottom: 15px; /* Espacio entre los campos de contraseña */
}

.password-input-wrapper input {
    padding-right: 40px; /* Deja espacio para el icono */
    width: 100%; /* Ajusta el ancho al contenedor */
    box-sizing: border-box; /* Asegura que padding no aumente el ancho total */
}

.password-toggle-icon {
    position: absolute;
    right: 10px; /* Distancia desde la derecha */
    top: 29%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajuste fino de centrado */
    cursor: pointer;
    font-size: 1.2em; /* Tamaño del emoji */
    user-select: none; /* Evita que el emoji se pueda seleccionar */
}

.label-with-tooltip {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  gap: 8px;
  margin-bottom: 5px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.info-icon {
  color: #007bff;
  cursor: pointer;
  font-size: 1rem;
}

.tooltip-text {
  visibility: hidden;
  width: 260px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 100;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.85rem;
  line-height: 1.4;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

.info-icon {
  color: #0d0d0e;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 480px) {
    .menu-options {
        flex-direction: column;
        gap: 1rem;
    }
    .option {
        width: 80vw; /* Ocupa el 80% del ancho de la vista */
    }
    .header-title h1 {
        font-size: 1.75rem; 
    }
}