<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Bienvenido a EduWordle</title>
</head>

<body style="font-family: sans-serif; background-color: #f8f9fa; padding: 0; margin: 0">
  <table margin="0 auto" width="100%"
    style="max-width: 600px; margin: auto; background-color: white; border: 1px solid #ddd; border-radius: 8px; overflow: hidden;">

    <tr>
      <td>
        <img src="{{headerImageUrl}}" alt="Bienvenido a EduWordle" width="100%" />
      </td>
    </tr>
    <tr>
      <td style="padding: 30px; text-align: center;">
        <h1>Hola {{name}},</h1>
        <p style="font-size: 16px; line-height: 1.5;">
          ¡Bienvenid@ a <strong>EduWordle</strong>! Un profesor ha creado una cuenta para ti,
          así que te proporcionamos una contraseña temporal para acceder al sitio web.
        </p>
        <p style="font-size: 16px; line-height: 1.5;">
          <strong>Tu contraseña inicial es:</strong><br />
          <span
            style="display: inline-block; margin: 10px 0; font-size: 18px; font-weight: bold; background-color: #f1f1f1; padding: 8px 16px; border-radius: 4px;">
            {{password}}
          </span>
        </p>
        <p style="font-size: 16px; line-height: 1.5;">
          Por favor, inicia sesión y cambia tu contraseña.
        </p>
        <a href="{{frontendUrl}}/login.html"
          style="display: inline-block; margin-top: 20px; background-color: #9ee5bc; color: white; text-decoration: none; padding: 12px 24px; border-radius: 6px;">
          Ir a Login
        </a>
      </td>
    </tr>
    <tr>
      <td style="background-color: #f1f1f1; padding: 20px; text-align: center; font-size: 14px; color: #555;">
        Hecho con 💡 para una divertida experiencia de aprendizaje.<br>
        Recibes este correo electrónico como parte de tu suscripción a EduWordle. <br>
        Si no reconoces esta cuenta, por favor, ignora este mensaje.<br>
        <a href="{{frontendUrl}}" style="color: #007bff; text-decoration: none;">{{frontendUrl}}</a>
      </td>
     </tr>
  </table>
</body>

</html>